body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #4893FA;
}